 img {
   border-radius: 50%;
 }
.green {
  background: #47a44b;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
}
 .red {
   background: #eb3f3f;
   display: inline-block;
   border-radius: 5px;
   padding: 5px 15px;
   color: white;
 }
 .h1{
   font-size: 4em;
   font-weight: 300;
 }
.info {
  display: inline;
  font-size: 1.6em;
  margin: 30px;
}
