<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Messages</h4>
            <p class="card-category">Personal messages</p>
          </div>
          <div class="card-body table-responsive">
            <mat-form-field appearance="standard">
              <mat-label>Search</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Bob" #input>
            </mat-form-field>
            <table class="table table-hover">
              <thead class="text-success">
              <th>From</th>
              <th>Subject</th>
              <th>Message</th>
              <th>Received</th>
              </thead>
              <tbody>
              <ng-container *ngIf="input.value === ''; else filtered">
                <ng-container *ngFor="let x of messages">
                  <tr id="messages">
                    <td (click)="openDialog(x.email, x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">{{x.from}}</td>
                    <td (click)="openDialog(x.email, x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">{{x.subject.substring(0, 10)}}</td>
                    <td (click)="openDialog(x.email, x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">{{x.message.substring(0, 10)}}...</td>
                    <td (click)="openDialog(x.email, x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">{{x.time}}</td>
                    <td>
                      <button mat-raised-button type="button" class="btn btn-success pull-right" (click)="openDialogReply(x.email, x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">Reply</button>
                      <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="deleteMessage(x.messageID)">Delete</button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
              <ng-template #filtered>
                <ng-container *ngFor="let x of filteredMessages">
                  <tr id="filteredMessages">
                    <td (click)="openDialog(x.email, x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">{{x.from}}</td>
                    <td (click)="openDialog(x.email, x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">{{x.subject.substring(0, 10)}}</td>
                    <td (click)="openDialog(x.email, x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">{{x.message.substring(0, 10)}}...</td>
                    <td (click)="openDialog(x.email, x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">{{x.time}}</td>
                    <td>
                      <button mat-raised-button type="button" class="btn btn-success pull-right" (click)="openDialogReply(x.email, x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">Reply</button>
                      <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="deleteMessage(x.messageID)">Delete</button>
                    </td>
                  </tr>
                </ng-container>
              </ng-template>
              </tbody>
            </table>
            <button mat-raised-button type="button" class="btn btn-success pull-right" (click)="createNewMessage()">Create New Message</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Completed Maintenance Requests</h4>
            <p class="card-category">Maintenance Staff Productivity</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
