<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Messages</h4>
            <p class="card-category">Personal messages</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-success">
              <th>From</th>
              <th>Subject</th>
              <th>Message</th>
              <th>Received</th>
              </thead>
              <tbody>
              <ng-container *ngFor="let x of messages">
                <tr id="messages" (click)="openDialog(x.from, x.subject, x.message, x.time, x.fromID, x.messageID)">
                  <td>{{x.from}}</td>
                  <td>{{x.subject.substring(0, 10)}}</td>
                  <td>{{x.message.substring(0, 10)}}...</td>
                  <td>{{x.time}}</td>
                </tr>
              </ng-container>
              </tbody>
            </table>
            <button mat-raised-button type="button" class="btn btn-success pull-right" >Create New Message</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Neighbors</h4>
            <p class="card-category">All neighbors on Floor {{queryService.userData.type.floor}}</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
              <th>Photo</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Room Number</th>
              </thead>
              <tbody>
              <ng-container *ngFor="let x of Object.keys(neighbors)">
                <tr id="neighbors" (click)="openNeighborDialog(neighbors[x].first_name, neighbors[x].last_name, neighbors[x].room, neighbors[x].photo)">
                  <td><img src="{{neighbors[x].photo}}" alt="Photo" width="50" height="50"></td>
                  <td>{{neighbors[x].first_name}}</td>
                  <td>{{neighbors[x].last_name}}</td>
                  <td>{{neighbors[x].room}}</td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Maintenance Request</h4>
            <p class="card-category">Create a quick maintenance request</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput id="subject" placeholder="Request Subject" type="text" [formControl]="subject">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput id="description" placeholder="Request Description" [formControl]="description"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="createMaintenanceRequest()">Send Request</button>
              <div class="clearfix"></div>
            </form>
            <label class="error">{{ errorMessage }}</label>
            <label class="success">{{ successMessage }}</label>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
