<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Maintenance Staff</h4>
            <p class="card-category">All Maintenance Staff</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-primary">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Status</th>
              <th>Photo</th>
              </thead>
              <tbody>
              <ng-container *ngFor="let x of staff">
                <tr id="rooms" >
                  <td>{{x.first_name}}</td>
                  <td>{{x.last_name}}</td>
                  <td>{{x.status}}</td>
                  <td><img src="{{x.photo}}" alt="Photo" width="50" height="50"></td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
