<form [formGroup]="loginForm">
  <div class="form-group">
    <label>Email address: </label>
    <input type="email" formControlName="email" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Password: </label>
    <input type="password" class="form-control" formControlName="password" required>
    <label class="error">{{ errorMessage }}</label>
    <label class="success">{{ successMessage }}</label>
  </div>
  <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-default">Login</button>
  <button type="submit" (click)="tryLogout()" class="btn btn-default">Logout</button>
  <br>
  <button type="submit" (click)="testPage()" class="btn btn-default">Test Page (Can only see if you are logged in)</button>
  <br>
  <br>
  Login with this to test:<br>
  admin@admin.com<br>
  password123
</form>
