.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.mat-elevation-z8 {
  margin: 20px;
}

table {
  width: 100%;
}

.mat-header-cell {
  background-color: rgb(52,58,64);
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

#roomname {
  font: 500;
  font-size:125%;
  color: white;
}

.button-row {
  margin: 10px 0;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-row:hover .mat-cell {
  background-color: #eeeeee;
  border-radius: 0px;

  cursor: pointer;
}

.add-button {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
